- Importar bibliotecas:

In [88]:
import pandas as pd
import numpy as np

- Criar lista com diretórios

In [89]:
months = ['apr','may','jun','jul','aug','sep']
paths = []
for month in months:
    paths.append('Datasets/uber-raw-data-'+month+'14.csv.zip')

In [90]:
paths

['Datasets/uber-raw-data-apr14.csv.zip',
 'Datasets/uber-raw-data-may14.csv.zip',
 'Datasets/uber-raw-data-jun14.csv.zip',
 'Datasets/uber-raw-data-jul14.csv.zip',
 'Datasets/uber-raw-data-aug14.csv.zip',
 'Datasets/uber-raw-data-sep14.csv.zip']

- Criar dataframes:

In [91]:
apr = pd.read_csv(paths[0], compression='zip')
may = pd.read_csv(paths[1], compression='zip')
jun = pd.read_csv(paths[2], compression='zip')
jul = pd.read_csv(paths[3], compression='zip')
aug = pd.read_csv(paths[4], compression='zip')
sep = pd.read_csv(paths[5], compression='zip')

- Concatenar dataframes:

In [92]:
frames = [apr, may, jun, jul, aug, sep]

In [93]:
df = pd.concat(frames)

- Mostrar dimensões e 5 primeiras linhas:

In [94]:
df.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [95]:
df.shape

(4534327, 4)

- Checar valores nulos:

In [96]:
df.isnull().sum()

Date/Time    0
Lat          0
Lon          0
Base         0
dtype: int64

- Segment Date and Time

In [97]:
df['Date/Time'] = pd.to_datetime(df['Date/Time'])

In [99]:
# variável para hora
df['Hour'] = df['Date/Time'].dt.hour.values

- Criar variável `Holiday` e `Before Holiday`:

In [86]:
import holidays

In [87]:
# feriados dos EUA
us_holiday = holidays.US()

In [103]:
# variável de data
date = df['Date/Time'].tolist()

# variável para feriados
hdays = []

# se o dia for feriado == True
for i in range(len(date)):
    if date[i] in us_holiday:
        hdays.append('Holiday')
    else:
        hdays.append('Not Holiday')

In [104]:
hdays.count('Holiday')

44311

In [105]:
hdays.count('Not Holiday')

4490016

In [107]:
# variável para antes do feriado
before_hdays = ['Not Before Holiday'] * len(hdays)

for i in range(1,len(before_hdays)):
    if hdays[i]=='Holiday':
        before_hdays[i-1]='Before Holiday'
    else:
        before_hdays[i-1]='Not Before Holiday'

In [108]:
before_hdays.count('Before Holiday')

44311

In [109]:
before_hdays.count('Not Before Holiday')

4490016

In [110]:
# colocar as variáveis no dataframe
df['Holiday'] = hdays
df['Before Holiday'] = before_hdays

In [112]:
df.head()

,Date/Time,Lat,Lon,Base,Hour,Holiday,Before Holiday
0,2014-04-01 00:11:00,40.7690,-73.9549,B02512,0,Not Holiday,Not Before Holiday
1,2014-04-01 00:17:00,40.7267,-74.0345,B02512,0,Not Holiday,Not Before Holiday
2,2014-04-01 00:21:00,40.7316,-73.9873,B02512,0,Not Holiday,Not Before Holiday
3,2014-04-01 00:28:00,40.7588,-73.9776,B02512,0,Not Holiday,Not Before Holiday
4,2014-04-01 00:33:00,40.7594,-73.9722,B02512,0,Not Holiday,Not Before Holiday

- Salvar arquivo csv

In [116]:
df.to_csv('Uber_PBI.csv', header=True, index=False)